# Virtual Environment
venv/
# Python Bytecode
__pycache__/
*.pyc
# Environment Variables
.env
# Logs
logs/
# Database Files
*.db
# IDE Files
.vscode/
.idea/
# Tex, docx and pdf output files
*.tex
*.docx
*.pdf